.investment-page-container {
  padding-top: 24px;
  max-width: 100%;
  margin-right: auto;

  .wrapper {
    &.zero-left {
      padding-left: 24px;
    }
  }

  @include breakpoint(crawler) {
    padding-top: 32px;

    .wrapper {
      &.zero-left {
        padding-left: 48px;
      }
    }
  }

  @include breakpoint(runner) {
    max-width: 768px;

    .wrapper {
      &.zero-left {
        padding-left: 0;
      }
    }
  }

  @at-root {
    .selling-point {
      padding-left: 24px;

      @include breakpoint(crawler) {
        padding-left: 52px;
      }

      .list {
        .item {
          display: block;

          &:not(:last-child) {
            margin-bottom: 48px;
          }

          .symbol {
            min-width: 80px;
            margin-bottom: 18px;
          }

          .value {
            padding-left: 0;
          }

          @include breakpoint(crawler) {
            display: flex;

            .symbol {
              margin-bottom: 0;
            }

            .value {
              padding-left: 0;
              padding-left: 48px;
            }
          }
        }
      }
    }

    .investment-benefit {
      padding-left: 24px;

      .list {
        .item {
          display: block;
          align-items: flex-start;

          &:not(:last-child) {
            margin-bottom: 48px;
          }

          .number {
            display: inline-block;
            font-size: 36px;
            line-height: 1;
            color: #B3B3B3;
            position: relative;
            font-family: 'Work Sans', sans-serif;
            margin-bottom: 36px;

            &::after {
              content: "/";
              position: absolute;
              right: -40px;
              bottom: -24px;
            }
          }

          .value {
            padding-left: 0;
          }
        }
      }

      @include breakpoint(crawler) {
        padding-left: 52px;

        .list {
          .item {
            display: flex;

            .number {
              margin-bottom: 0;
            }

            .value {
              padding-left: 88px;
            }
          }
        }
      }
    }
  }
}
