.page-hero {
  width: 100%;

  @at-root {
    .page-hero-image {
      display: block;
      width: 100%;
      position: relative;
      z-index: 2;

      &::before {
        content: "";
        display: block;
        background-color: #F1EFED;
        position: absolute;
        top: 50%;
        bottom: 0;
        right: 0;
        width: 50%;
      }

      .wrapper {
        max-width: 1425px;
        padding-left: 0;
        margin: 0 auto;
        position: relative;
      }
    }

    .page-hero-title {
      display: block;
      position: relative;

      &::before {
        content: "";
        display: block;
        background-color: #F1EFED;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50%;
      }

      .hero-title {
        max-width: 1280px;
        margin: 0 auto;
        background-color: #F1EFED;
        padding: 38px;
        display: flex;
        align-items: flex-end;
        position: relative;

        @include breakpoint(walker) {
          padding: 48px;
        }

        .hero-title-container {
          .title {
            margin-bottom: 18px;
          }

          .subtitle {
            margin-bottom: 0;
            font-size: 18px;
            color: #808080;
          }
        }
      }
    }
  }
}

.demo-page-hero {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #F1EFED;
    height: calc(100% - 240px);
    width: 50%;
    right: 0;
    bottom: 0;
  }

  .demo-page-hero-image {
    display: block;
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 80px;
    position: relative;
  }
  .demo-page-hero-title {
    max-width: 1425px;
    margin: 0 auto;
    padding-left: 80px;
    position: relative;

    .demo-page-hero-title-container {
      padding: 48px;
      max-width: 1278px;
      margin-left: auto;
      background-color: #F1EFED;

      p {
        margin-bottom: 0;

        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
  }
}

.page-breadcrumb {
  padding: 48px 0;

  @include breakpoint(runner) {
    padding: 64px 0;
  }

  @at-root {
    .breadcrumb {
      color: $color-text-lighter;

      .a {
        text-transform: uppercase;
        color: $color-text-lighter;

        &:not(:last-child) {
          &::after {
            content: '/';
            display: inline-block;
            margin: 0 12px;
          }
        }
      }

      span.a {
        color: $color-one-500;
      }
    }
  }
}

.main-page-heading {
  margin-bottom: 38px;

  .title {
    margin-bottom: 0;
  }
}

.main-page-content {
  .text-post {
    padding-left: 24px;

    @include breakpoint(crawler) {
      padding-left: 52px;
    }

    img {
      margin-top: 12px;
    }
  }
}

.page-content {
  .inner {
    padding-bottom: 48px;
    padding-top: 48px;
    width: 100%;

    &.inner-zero {
      padding-top: 0;
    }
  }
}
